/* css styles */
h1 {
    font-family: "tarzana-narrow", sans-serif;
    /* font-family: "ibm-plex-serif"; */
    font-weight: 100;
    /* font-style: italic; */
    font-size: 3em;
}

a:not(.navbar a), .nav-link:hover, .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active .menu-text {
 color: #f5602a !important;
}

body {
    /* font-family: "ibm-plex-serif", "serif"; */
    font-family: "nimbus-sans", sans-serif;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

main a {
    opacity: .7;
    transition: .2s;
}

main a:hover {
    opacity: 1;
    transition: .1s;
}

p {
    line-height: 1.2em;
    /* hyphens: auto; */
}

ul {
    padding-left: 1em;
    list-style: '-  ';
}

#profile {
    max-width: 250px !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    width: 600px;
    margin: 2em auto 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;;
    font-family: "nimbus-sans", sans-serif;
    /* font-family: "tarzana-wide", sans-serif; */
    /* font-family: 'ibm-plex-mono'; */
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
}


.nav-item {
    padding: 0 .35em;
}

.navbar .me-auto .nav-item:first-child {
    padding-left: 0;
}

.navbar .me-auto .nav-link:first-child {
    padding-left: 0;
}


@media (max-width: 990px) {
    .navbar .me-auto {
        padding: .6rem !important;
    }
    .navbar .me-auto {
        padding: .6rem !important;
    }
    .nav-item {
        padding: 0;
    }

    .me-auto {
        align-items: center;
        text-align: center;
        width: calc(100vw - 2em);
    }

    .ms-auto {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 .25em;
        width: calc(100vw - 2.5em);
        margin: 0 !important;
    }

    #quarto-header {
        padding:0 1em;
    }

    #quarto-header.headroom--frozen {
        background-color: #ebebeb;
    }

    /* .ms-auto .nav-item {
        padding: 0 .25em;
    } */
}
